# Ambiente Python
venv/
ENV/
env/
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.py[cod]

# Django
/static/
staticfiles/
media/

# VSCode / IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.log
postgres_data/
db_data/

# Arquivo de ambiente real (NUNCA subir)
.env

# Mac
.DS_Store
Thumbs.db