version: "3.9"

services:
  ticket_api:
    build: .
    container_name: ticket_api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      ticket_db:
        condition: service_healthy
    volumes:
      - .:/backend

  ticket_db:
    image: postgres:15
    container_name: ticket_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
